{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
  
  <div class="py-6">
    <!-- Breadcrumbs -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center space-x-2 text-gray-400 text-sm">
        <a href="{% url 'index' %}" class="hover:underline hover:text-gray-600">Home</a>
        <span>
          <svg class="h-5 w-5 leading-none text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </span>
        <a href="{% url 'shop' %}" class="hover:underline hover:text-gray-600">Shop</a>
        <span>
          <svg class="h-5 w-5 leading-none text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </span>
        <span>{{ item }}</span>
      </div>
    </div>
    <!-- ./ Breadcrumbs -->
  
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6">
      <div class="flex flex-col md:flex-row -mx-4">
        <div class="md:flex-1 px-4">
          <img src="{{ item.image.url }}"> 
        </div>
        <div class="md:flex-1 px-4">
          <h2 class="mb-2 leading-tight tracking-tight font-bold text-gray-800 text-2xl md:text-3xl">{{ item }}</h2>
          <h2 class="mb-2 leading-tight tracking-tight text-gray-800 text-2xl md:text-3xl">Rp {{ item.price }}</h2>
          {% if user.is_superuser or user.is_staff %}
            <h4 class="font-semibold mt-3">Stock: {{ item.stock }}</h4>
          {% else %}
            {% if item.stock == 1 %}
              <h4 class="font-semibold mt-3">Last stock, grab it fast!</h4>
            {% elif item.stock < 10 %}
              <h4 class="font-semibold mt-3">Stock < 10</h4>
            {% else %}
              <h4 class="font-semibold mt-3">Stock > 10</h4>
            {% endif %}
          {% endif %}
          <div style="white-space: pre-line">
            {{ item.description }}
          </div>
          {% if user.is_superuser or user.is_staff %}
          <div class="flex space-x-4 mt-6">
            <a href="{% url 'update_item' id=item.id %}" class="hover:text-white">
              <button class="h-10 px-4 mt-2 font-semibold rounded-xl bg-yellow-500 hover:bg-yellow-600 text-white">
                  Edit Item
              </button>
            </a>
            <a href="{% url 'delete_item' id=item.id %}" class="hover:text-white" onclick="return confirm('Delete this item?')">
              <button class="h-10 px-4 mt-2 font-semibold rounded-xl bg-red-500 hover:bg-red-700 text-white">
                  Delete Item
              </button>
            </a>
        </div>
        {% else %}
        <p class="mt-8">Quantity</p>
          <div class="flex space-x-4">
            <form method="POST" action="{% url 'add_to_cart' %}">
              {% csrf_token %}
              <input type="hidden" name="id" name="quantity" value="{{ item.id }}" readonly>
              <input class="border h-14 w-24 mt-2 rounded-xl p-3 text-center" type="number" id="quantity" name="quantity" min="1" value="1">
              <button ype="submit" class="h-14 px-6 mt-2 font-semibold rounded-xl bg-maddi-1 hover:bg-maddi-1 text-white">
                Add to Cart
              </button>
            </form>
        </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% endblock %}