{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="container mx-auto px-6 my-8">
    <div class="row">
        <div class="col">
            <div class="flex flex-wrap">
                <div class="w-3/4">
                    <h3 class="text-gray-700 text-2xl font-medium">Cart</h3>
                    {% for cart in carts %}
                        <div class="flex bg-white">
                            <div class="p-2">
                            <a href="#">
                                <img src="{{ cart.item.image.url }}" class="mt-4" style="width: 100px; height: 100px;"> 
                            </a>
                            </div>
                            <div class="flex-auto text-sm w-32 mt-8">
                                <div class="font-bold">{{ cart.item }}</div>
                                <div class="truncate">Rp. {{ cart.item.price }}</div>
                                <div>
                                  <form >
                                  <input class="" type="text" id="message" name="message" placeholder="Notes for this item">
                                  </form >
                                </div>
                            </div>
                        </div> 
                        <div class="row mt-2">
                            <div class="col-6 ml-2">
                            </div>
                            <div class="col-3"> 
                                Hapus barang dari cart <span class="mx-2 text-xl">| </span><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                            </div>
                            <div class="col-1 ml-0 float-left"> 

                            </div>
                            <div class="col">
                                <input class="border h-6 w-20 rounded-xl text-center" type="number" value="{{ cart.quantity }}" onchange="console.log(this.value)">
                            </div>
                        </div>
                        <hr class="pb-6 mt-2">
                    {% endfor %}
        </div>
        <div class="col-3">
            <div class="absolute ml-4 w-full z-10">
                <div class="w-72 rounded border-2 p-1">
                    <div class="p-2 flex bg-white">
                        <div class="flex-auto text-sm w-32">
                            <div class="font-bold">Subtotal</div>
                        </div>
                    </div>
                    <div class="p-2 flex bg-white border-b border-gray-100">
                        <div class="flex-auto text-sm w-32">
                            <div class="truncate">Total Price</div>
                        </div>
                        <div class="flex flex-col w-18 font-medium items-end">
                            Rp. {{ cart.total_price}}
                        </div>
                    </div>
                    <div class="p-2 flex bg-white hover:bg-gray-100 ">
                        <div class="flex-auto text-sm w-32">
                            <div class="font-bold">Total price</div>
                        </div>
                        <div class="flex flex-col w-18 font-medium items-end font-bold">
                            Rp. {{ cart.total_price}}</div>
                    </div>
                    <div class="p-4 justify-center flex">
                        <button class="text-base  undefined  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold 
                            hover:bg-teal-700
                            bg-maddi-1 
                            text-white
                            w 
                            border duration-200 ease-in-out 
                            border-teal-600 transition">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
        <div class="w-1/4">
            <div class="p-5">
            <div class="flex h-64 justify-center">
                <div class="relative ">
                    
                </div>
            </div>
            <div class="h-32"></div>
        </div>
            
        </div>
        </div>
    </div>
  </div>
{% endblock %}