{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="containerhome">
  <img src="../../../static/images/Homepage.jpg" alt="Homepage" style="width:100%; height:500px;">
  <div class="centered1">
    <img src="../../../static/images/Maddi.png">
    <p style="color: black;">Berbagi cerita lewat pakaian</p>
  </div>
</div>

<div>
  <h1 class="text-center my-4 text-4xl pb-6">Featured Products</h1>  
    <div class="row">
      {% for item in items %}
      <div class="col ml-6">
        <img src="{{ item.image.url }}">
        <div class="text-2xl ml-2 mt-2">
          {{ item.name }} <br>
          {{ item.price }}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="text-center mt-8">
      <a href="{% url 'shop' %}">
        <button type="button" class="w-64 border border-gray-800 text-black rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:text-white hover:bg-gray-500 focus:outline-none focus:shadow-outline">
        Shop now
        </button>
      </a>
    </div>
</div>


<div class="centered container mx-auto px-6 my-8 mt-16">
  <h1 class="text-center my-4 text-4xl">
      News
  </h1>        
  <ul class="list-group centered">
    {% for n in news %}
        <div id="accordionExample">
            <li>
              <div class="card border-light mb-3">
              <button class="" data-toggle="collapse" data-target="#collapse-{{ n.id }}" aria-expanded="true" aria-controls="collapse-{{ n.id }}">  
              <div class="card-header" id="heading-{{ n.id }}">
                
                <div class="container">
                    <div class="row">
                      <div class="text-gray-500">
                          <h1 class="text-5xl">{{ n.date|date:"d" }}</h1>
                      </div>
                      <div class="grid grid-cols-1 my-auto text-gray-500">
                          <h1 class="text-md italic font-bold">{{ n.date|date:"M" }}</h1>
                          <h1 class="text-md italic">{{ n.date|date:"Y" }}</h1>
                      </div>
                      <div class="mx-2 my-auto">
                        <h5 class="mb-0 ml-2 text-3xl my-auto">
                          {{ n.title }}
                        </h5>
                      </div>
                      <div class="col-lg">
                      </div>
                    </div>
                </div>
              </div>
              </button>
          
          
              <div id="collapse-{{ n.id }}" class="collapse" aria-labelledby="heading-{{ n.id }}" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="container">
                      <div class="row">
                        <div class="col- w-25">
                          <img class="max-h-80" src="{{ n.image.url }}" alt="placeholder">
                        </div>
                        <div class="col-sm">
                          {{ n.body }}
                        </div>
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </li>                
        </div>
    {% endfor %}
        
  </ul>
</div>

  


{% endblock %}